---
layout: default
title: My Bookmarks
cats:
- name: Design
  links:
  - [
    "Paul Graham's Essays - Insightful Reads",
    "http://paulgraham.com/articles.html"
    ]
  - [
    "Hack Design- Learn Design, from the ground up",
    "http://hackdesign.org/"
    ]
- name: Quora
  links:
  - [
    "How do you start your day?",
    "http://www.quora.com/Life/How-do-you-start-your-day"
    ]
  - [
    "What are some of the techniques Stripe used aggressively for early user acquisition?",
    "http://www.quora.com/Stripe-company/What-are-some-of-the-techniques-Stripe-used-aggressively-for-early-user-acquisition"
    ]
  - [
    "Why are software development task estimations regularly off by a factor of 2-3?",
    "http://www.quora.com/Engineering-Management/Why-are-software-development-task-estimations-regularly-off-by-a-factor-of-2-3"
    ]
  - [
    "What are the top TED talks that have changed your life or your perspective about some aspect of life?",
    "http://www.quora.com/TED-Talks/What-are-the-top-TED-talks-that-have-changed-your-life-or-your-perspective-about-some-aspect-of-life"
    ]
  - [
    "What are some stories about your dad you would want your kids to know about?",
    "http://www.quora.com/Family-and-Families/What-are-some-stories-about-your-dad-you-would-want-your-kids-to-know-about"
    ]
  - [
    "What is the biggest misconception people have about life?",
    "http://www.quora.com/Life/What-is-the-biggest-misconception-people-have-about-life"
    ]
  - [
    "What is the most heroic thing you have ever done?",
    "http://www.quora.com/Heroism/What-is-the-most-heroic-thing-you-have-ever-done"
    ]
  - [
    "What are the best quotes you have ever come across?",
    "http://www.quora.com/Quotations/What-are-the-best-quotes-you-have-ever-come-across"
    ]
---

<div class="row">
  <div class="small-12 columns">
    <h1>My Bookmarks</h1>
    <p>Here I've saved some useful/insightful/meaningful links</p>

    {% for cat in page.cats %}
      <h2>{{ cat.name }}</h2>
      <ul>
        {% for link in cat.links %}
          <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>