<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.media_url }}/css/app.css" />

  <script src="{{ site.media_url }}/js/vendor/custom.modernizr.js"></script>

</head>
<body>
  <nav class="top-bar" style="">

    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Josh Click</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li class=""><a href="/about.html">About</a></li>
        <li class="divider"></li>
        <li class=""><a href="/">Blog</a></li>
        <li class="divider"></li>
        <li class=""><a href="/abilities.html">Abilities</a></li>
        <li class="divider"></li>
        <li class=""><a href="/story.html">Story</a></li>
        <li class="divider"></li>
        <li class=""><a href="/bookmarks.html">Bookmarks</a></li>
      </ul>
    </section>

  </nav>

  {{ content }}

  <script>
  document.write('<script src=' +
    ('__proto__' in {} ? '{{ site.media_url }}/js/vendor/zepto' : '{{ site.media_url }}/js/vendor/jquery') +
    '.js><\/script>')
  </script>
  <script src="{{ site.media_url }}/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  {% if page.customjs %}
    <script type="text/javascript">{{ page.customjs }}</script>
  {% endif %}
</body>
</html>